<div style="margin-top: 50px; margin-left: 500px;">
    <div style="background-color: #FFFF66; padding: 30px; border-radius: 10px; width: 350px;">
        <form action="./dangnhap" method="post">
            <h2 class="text-center fw-bold text-black ">ĐĂNG NHẬP</h2>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username:</label>
                <input type="text" class="form-control" id="username" name="username" style="width: 300px;" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" style="width: 300px;"
                    required>
            </div>


            <h6>Bạn chưa có tài khoản <a href="/DangKy">Đăng ký</a></h6>

            <div class="col-12">
                <button type="submit" class="btn btn-primary"
                    style="margin-left: 100px; margin-top: 20px;">Save</button>
            </div>
        </form>

    </div>

</div>