<div class="container">
    <nav class="nav">
        <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        <a class="nav-link" href="/alltruyen">Truyện tranh</a>
        <a class="nav-link" href="/addtruyen">Thêm Truyện tranh</a>
        <a class="nav-link" href="/getuser">Người dùng</a>
        <a class="nav-link" href="/dangnhap">Đăng Nhập</a>
    </nav>
</div>