<div class="conntainer">
    <form action="/chiTietTruyen/{{truyens._id}}/doctruyen" method="get">
        {{#each truyens.noi_dung_anh_truyen}}
        <img src="/{{this}}" alt="Không có ảnh">
        {{/each}}
    </form>
</div>